Repository SEP-2019/Project-Athena, pull requests merged in 2019-02, with the labels that each got.

#17 added initial project template
  .gitignore
  README.md
  backend/app.js
  backend/bin/www
  backend/package.json
  backend/routes/index.js
  backend/routes/users.js
  client/.gitignore
  client/README.md
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/serviceWorker.js
  client/yarn.lock
Labels: High Priority

#19 Create student user feature
  .gitignore
  backend/logic/users/users.js
  backend/package-lock.json
  backend/package.json
  backend/routes/users.js
  backend/sql/connection.js
  backend/test/users_test.js
  backend/validation/format.js
Labels: backend, database, feature

#22 Improving security of format validation
  backend/logic/users/users.js
  backend/test/users_test.js
  backend/validation/format.js
  backend/validation/hash.js
Labels: backend, bug

#25 Frontend refactoring
  .gitignore
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/CourseRegistration/CourseRegistration.css
  client/src/CourseRegistration/CourseRegistration.js
  client/src/components/HeaderBar/HeaderBar.jsx
  client/src/components/HeaderBar/index.js
  client/src/components/LoginForm/index.js
  client/src/components/Section/Section.jsx
  client/src/components/Section/index.js
  client/src/hocs/WithHeaderBar/WithHeaderBar.jsx
  client/src/hocs/WithHeaderBar/index.js
  client/src/index.css
  client/src/screens/CourseRegistration/CourseRegistration.css
  client/src/screens/CourseRegistration/CourseRegistration.js
  client/src/screens/CourseRegistration/index.js
  client/src/screens/Login/Login.css
  client/src/screens/Login/Login.js
  client/src/screens/Login/index.js
Labels: FrontEnd

#31 Added env variables for DB credentials and fixed some formatting
  .gitignore
  backend/app.js
  backend/logic/users/users.js
  backend/package-lock.json
  backend/package.json
  backend/routes/users.js
  backend/sql/connection.js
  backend/test/users_test.js
Labels: High Priority, backend, database

#28 Added API for retrieving user completed courses
  backend/logic/users/users.js
  backend/routes/users.js
  backend/sql/connection.js
  backend/test/users_test.js
Labels: backend, feature

#35 Change port number to 3001 to avoid conflict with Frontend
  backend/bin/www
  backend/routes/users.js
Labels: High Priority, backend

#34 Adding ability to create admin users, modified unit tests and added DB scripts
  .gitignore
  backend/logic/users/users.js
  backend/package-lock.json
  backend/routes/users.js
  backend/test/users_test.js
  backend/validation/format.js
  backend/validation/hash.js
  db/db_inserts.sql
Labels: backend, database, feature

#39 Ability to add courses completed by the student
  backend/app.js
  backend/logic/courses/courses.js
  backend/logic/tags/tags.js
  backend/logic/users/users.js
  backend/package-lock.json
  backend/package.json
  backend/routes/courses.js
  backend/routes/tags.js
  backend/routes/users.js
  backend/validation/format.js
Labels: backend, database, feature

#36 Added API for retrieving user completed courses, major and minor
  backend/logic/users/users.js
  backend/routes/users.js
  backend/test/users_test.js
Labels: backend, feature

#42 1. fixed error handling of getCompletedCourses
  backend/logic/users/users.js
  backend/package.json
  backend/routes/users.js
Labels: enhancement

#46 Backend create curriculum finished and endpoint defined
  backend/app.js
  backend/logic/curriculums/curriculums.js
  backend/logic/users/users.js
  backend/routes/curriculums.js
  backend/routes/users.js
  backend/validation/format.js
Labels: backend, database, feature

#43 Adding ability to add coreq, prereq and update courses
  backend/logic/courses/courses.js
  backend/routes/courses.js
  backend/routes/tags.js
  backend/validation/format.js
Labels: backend, database, feature

#55 Patrick/feature/table component
  client/src/App.js
  client/src/components/CourseTable/CourseTable.css
  client/src/components/CourseTable/CourseTable.js
  client/src/components/CourseTable/index.js
  client/src/screens/CurriculumDisplay/CurriculumDisplay.css
  client/src/screens/CurriculumDisplay/CurriculumDisplay.js
  client/src/screens/CurriculumDisplay/index.js
Labels: FrontEnd, feature

#56 add CourseRegistration screen and its components
  client/package.json
  client/src/components/SearchBar/SearchBar.css
  client/src/components/SearchBar/SearchBar.js
  client/src/components/SearchBar/index.js
  client/src/images/cancel.svg
  client/src/screens/CourseRegistration/CourseRegistration.css
  client/src/screens/CourseRegistration/CourseRegistration.js
  client/src/screens/CourseRegistration/CourseRegistrationItem/CourseRegistrationItem.css
  client/src/screens/CourseRegistration/CourseRegistrationItem/CourseRegistrationItem.js
  client/src/screens/CourseRegistration/CourseRegistrationItem/index.js
Labels: FrontEnd

#49 Remove course (phase out a course)
  backend/logic/courses/courses.js
  backend/routes/courses.js
  backend/validation/format.js
  db/update scripts/1.03.sql
Labels: backend, database, feature

#58 Yueh/frontend/course suggestion
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/routes/courses.js
  backend/routes/tags.js
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.js
  client/src/components/ComplementaryPanel/ComplementaryPanel.css
  client/src/components/ComplementaryPanel/ComplementaryPanel.js
  client/src/components/ComplementaryPanel/index.js
  client/src/components/CompleteCourseList/CompleteCourseList.css
  client/src/components/CompleteCourseList/CompleteCourseList.js
  client/src/components/CompleteCourseList/index.js
  client/src/components/CourseCheckBox/CourseCheckBox.css
  client/src/components/CourseCheckBox/CourseCheckBox.js
  client/src/components/CourseCheckBox/index.js
  client/src/components/CourseSuggestionList/CourseSuggestionList.css
  client/src/components/CourseSuggestionList/CourseSuggestionList.js
  client/src/components/CourseSuggestionList/index.js
  client/src/components/HeaderBar/HeaderBar.js
  client/src/components/LeftDrawer/LeftDrawer.css
  client/src/components/LeftDrawer/LeftDrawer.js
  client/src/components/LeftDrawer/index.js
  client/src/components/MandatoryPanel/MandatoryPanel.css
  client/src/components/MandatoryPanel/MandatoryPanel.js
  client/src/components/MandatoryPanel/index.js
  client/src/components/MenuButton/MenuButton.css
  client/src/components/MenuButton/MenuButton.js
  client/src/components/MenuButton/index.js
  client/src/components/Tabs/CourseSuggestionPanel.css
  client/src/components/Tabs/CourseSuggestionPanel.js
  client/src/components/Tabs/index.js
  client/src/components/TagCheckBox/TagCheckBox.css
  client/src/components/TagCheckBox/TagCheckBox.js
  client/src/components/TagCheckBox/index.js
  client/src/components/TagList/TagList.css
  client/src/components/TagList/TagList.js
  client/src/components/TagList/index.js
  client/src/screens/CourseSuggestion/CourseSuggestion.css
  client/src/screens/CourseSuggestion/CourseSuggestion.js
  client/src/screens/CourseSuggestion/index.js
Labels: FrontEnd

#60 Add Curriculum link to LeftDrawer
  client/src/components/HeaderBar/HeaderBar.js
Labels: FrontEnd

#59 Tyrone/backend/db/adding electrical curriculum
  backend/sql/curriculum_scripts/scrape_curriculum.js
Labels: backend, database, feature

#63 Fixing npm start due to removal of passport package
  backend/app.js
Labels: bug

#64 Dev
  backend/app.js
Labels: bug

#65 Finished the Login and Signup forms (pages)
  backend/package-lock.json
  client/package-lock.json
  client/src/components/EditText/EditText.js
  client/src/components/EditText/index.js
  client/src/components/LoginForm/LoginContent.jsx
  client/src/components/LoginForm/LoginForm.css
  client/src/components/LoginForm/LoginForm.jsx
  client/src/components/LoginForm/SignupContent.jsx
  client/src/screens/Login/Login.css
  client/src/screens/Login/Login.js
Labels: FrontEnd
